body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Dancing Script', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.center{
    margin: auto auto;
}

.top-container{
    background-color: #1B2430;
    color: #D6D5A8; 
    position: relative;
    padding-top: 80px;
}

.middle-container{
    background-color: #1B2430;
    color: #D6D5A8; 
}

.bottom-container{
    background-color: #1B2430;
    color: #D6D5A8; 
    padding-top: 10px;
    padding-bottom: 20px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 310px;
}

.contact-me{
    background-color: #1B2430;
    color: #D6D5A8;     
}

a:visited { color: rgb(218, 82, 218); }

a:link { color: rgb(129, 129, 243); }